/.vscode
/asn.mmdb
/badproxy.pem
/ca-bundle.pem
/cmd/jafar/badproxy.pem
/country.mmdb
/example.org
/fbmessenger.jsonl
/hhfm.jsonl
/hirl.jsonl
/jafar
/jafar.exe
/miniooni
/miniooni.exe
/oonipsiphon/
/report.jsonl
/telegram.jsonl
/webconnectivity.jsonl
/webscore
/webscore.exe
/whatsapp.jsonl
