name: go115
on:
  pull_request:
  schedule:
    - cron: "0 0 * * */1"
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: "1.15"
      - uses: actions/checkout@v2
      - run: ./build-cli.sh linux
      - run: ./CLI/linux/amd64/miniooni -nNi https://example.com web_connectivity
      - run: ./build-cli.sh darwin
      - run: sudo apt install --yes mingw-w64
      - run: ./build-cli.sh windows
